coverage==4.5.1
coveralls==1.5.1
Flask==1.0.2
Flask-JWT-Extended==3.13.1
flask-restplus==0.12.1
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pathlib2==2.3.2
psycopg2==2.7.5
py==1.7.0
PyJWT==1.6.4
pylint==2.1.1
pytest==3.9.1
pytest-cov==2.6.0
Werkzeug==0.14.1
