body {
    background-color: white;
    height: 100vh;
    background-position: center;
    margin: 0;
    padding: 0;
}

#Container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
    grid-row-gap: 1ch;
    /* background-color: lightskyblue; */
    height: 100vh;
}

.header {
    font-family: 'Courier New';
    font-size: 36px;
    line-height: 40px;
    float: left;
    height: 40px;
    margin-left: 0%;
    text-align: left;
    background-color: lightskyblue;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*.login-page {
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    height: 100vh;
}*/

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(51, 49, 46, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: lightskyblue;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,
.form button:active {
    background: #ac923e;
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color: lightskyblue;
    text-decoration: none;
}

.footer {
    background-color: lightskyblue;
    text-align: center;
}