body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 0;
    display: grid;
    grid-template-rows: 0.5fr 2fr 4fr 0.2fr;
    grid-gap: 5px;
    height: 100vh;
}

.header {
    font-family: 'Courier New';
    font-size: 36px;
    line-height: 40px;
    float: left;
    height: 40px;
    margin-left: 0%;
    text-align: left;
    background-color: lightskyblue;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-group .button {
    background-color: #4CAF50;
    /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: center;
}

.btn-group .button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #3e8e41;
}

.footer {
    background-color: lightskyblue;
    text-align: center;
}