body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 0;
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.1fr;
    grid-gap: 5px;
    height: 100vh;
}

ul li strong {
    font-family: 'Courier New';
    font-size: 36px;
    line-height: 40px;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 0%;
    text-align: left
}

#nav-bar,
#goods-list,
#footer {
    border: 1px solid;
}

#nav-bar,
#footer {
    background-color: lightskyblue;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 8px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.nav-bar ul {
    margin-left: auto;
    margin-right: auto;
}

input[type=text]:focus {
    width: 150%;
}

ul {
    list-style: none;
    display: block;
}

ul li form {
    float: left;
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding-left: 12px;
}

ul .chart-icon {
    float: left;
    line-height: 40px;
    padding-right: 12px;
    font-size: 35px;
}

ul li i {
    float: right;
    line-height: 40px;
    padding-right: 12px;
}

ul li button {
    float: right;
    line-height: 40px;
    width: 200px;
    background-color: #3e8e41;
    display: block;
}

ul li button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

ul li button:hover {
    background-color: lightcyan;
    color: lightblue;
}

#true {
    font-size: 48px;
}